:host {
  ::ng-deep {
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }

      .error {
        color: #f44336;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
        position: initial !important;
        display: block;
      }
    }
  }
  
  .hint {
    font-size: 75%;
  }

  ::ng-deep {
    button {
      margin-top: -12px;
    }

    .error-msg {
      color: #f44336;
    }
  }
}

.status-content {
  display: flex;
  align-items: flex-start;

  fs-menu {
    margin-top: -1px;
  }
}

::ng-deep {
  .fs-account-actions {
    max-width: none !important;

    .mat-menu-item {
      padding: 3px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start !important;
      overflow: visible;
      white-space: normal;
      min-height: 48px;
      height: unset;

      &:last-child {
        margin-bottom: 0;
      }

      &.multi-lines {
        line-height: normal;
      }

      small {
        margin-top: 3px;
      }
    }
  }
}
