<div fxLayout="row" fxFlex fxLayoutGap="20px">

  <fs-label-field *ngIf="created">
    <fs-label>{{ createdLabel }}</fs-label>
    {{ created | fsDate: 'date-time' }}
  </fs-label-field>

  <fs-label-field *ngIf="status">
    <fs-label>{{ statusLabel }}</fs-label>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div>
        {{statusName}}
        <div class="hint" *ngIf="statusPendingActivation" [ngClass]="{ 'error-msg': activationEmailMessage }">
          <ng-container *ngIf="!activationEmailDate">Notification Not Sent</ng-container>
          <ng-container *ngIf="activationEmailDate">
            <ng-container *ngIf="!activationEmailMessage">
              Activation email sent {{ activationEmailDate | fsDate }}
            </ng-container>
            <ng-container *ngIf="activationEmailMessage">
              Activation email delivery failed to {{ email }} on {{ activationEmailDate | fsDate }}.
              <div>{{ activationEmailMessage }}</div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <fs-menu class="fs-account-actions">
        <ng-container *ngIf="statusPendingActivation">
          <ng-template fs-menu-item (click)="onAction('email_activation')" class="multi-lines">
            <span>{{ activationEmailDate ? 'Resend' : 'Send' }} Activation Email</span>
            <small>An email will be sent to {{ email }} to setup their sign-in password</small>
          </ng-template>
          <ng-template fs-menu-item (click)="onAction('activate')" class="multi-lines">
            <span>Activate {{objectName | titlecase}}</span>
            <small>{{objectName | titlecase}} will be activated without notifying the person.</small>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="statusDeleted">
          <ng-template fs-menu-item class="disabled" (click)="cancel($event)">
            <span>Undelete {{objectName | titlecase}}, set status to:</span>
          </ng-template>
          <ng-template fs-menu-item (click)="onAction('undelete', { state: status.value })" *ngFor="let status of undeleteStatuses">
            {{status.name}}
          </ng-template>
        </ng-container>

        <ng-template *ngIf="!statusDeleted" fs-menu-item (click)="onAction('delete')" class="multi-lines">
          <span>Delete {{objectName | titlecase}}</span>
          <small>Remove the {{objectName}} from the system, the person will not be able to sign-in.</small>
        </ng-template>
      </fs-menu>
    </div>

  </fs-label-field>
</div>
