<div fxLayout="row" fxFlex fxLayoutGap="20px">

  <fs-label-field *ngIf="created">
    <fs-label>Account Created</fs-label>
    {{ created | fsDate: 'date-time' }}
  </fs-label-field>

  <fs-label-field *ngIf="status">
    <fs-label>Status</fs-label>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div>
        {{ statusLabels[status] }}
        <div class="hint" *ngIf="status === 'pending_activation'" [ngClass]="{ error: activationEmailMessage }">
          <ng-container *ngIf="!activationEmailDate">Notification Not Sent</ng-container>
          <ng-container *ngIf="activationEmailDate">
            <ng-container *ngIf="!activationEmailMessage">
              Activation email sent {{ activationEmailDate | fsDate }}
            </ng-container>
            <ng-container *ngIf="activationEmailMessage">
              Activation email delivery failed to {{ email }} on {{ activationEmailDate | fsDate }}.
              {{ activationEmailMessage }}
            </ng-container>
          </ng-container>
        </div>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu" type="button">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

  </fs-label-field>
</div>

<mat-menu #actionsMenu="matMenu" [overlapTrigger]="false" class="fs-account-actions">
  <ng-container *ngIf="status === 'pending_activation'">
    <div mat-menu-item (click)="onAction('email_activation')" class="multi-lines">
      <span>{{ activationEmailDate ? 'Resend' : 'Send' }} Activation Email</span>
      <small>An email will be sent to {{ email }} to setup their sign-in password</small>
    </div>
    <div mat-menu-item (click)="onAction('activate')" class="multi-lines">
      <span>Activate Account</span>
      <small>Account will be activated without notifying the person.</small>
    </div>
  </ng-container>

  <div mat-menu-item (click)="onAction('delete')" *ngIf="!deleted" class="multi-lines">
    <span>Delete Account</span>
    <small>Remove the account from the system, the person will not be able to sign-in.</small>
  </div>

  <ng-container *ngIf="deleted">
    <div mat-menu-item class="disabled" (click)="cancel($event)">
      <span>Undelete Account, set status to:</span>
    </div>
    <div mat-menu-item (click)="onAction('undelete', { state: 'active' })">Active</div>
    <div mat-menu-item (click)="onAction('undelete', { state: 'pending_activation' })">Pending Activation</div>
  </ng-container>
</mat-menu>